* {
    margin: 0;
    padding: 0;
}

.contacts {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 412px;
    background-color: #ffffff;
    border-radius: 8px;
}
.container h1 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    text-transform: uppercase;
    background-color: #6700bb;
    color: #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
}
input {
    font-size: 16px;
    padding: 5px;
    margin: 5px 0;
    width: 400px;
    text-align: center;
    outline: none;
    color: #000000;
    border: 0;
    border-bottom: 1px solid #6700bb;
}
.container input::placeholder {
    color: rgba(0, 0, 0, 0.692)
}
.list li {
    font-size: 18px;
    margin-left: 20px;
    list-style: none;
    color: #000000;
    width: 370px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #6700bb;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-pencil {
    font-size: 20px;
}
.fa-trash-o {
    font-size: 20px;
    padding-left: 5px;
}
.fa-trash-o:hover,
.fa-pencil:hover {
    color: #6700bb;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.add,
.reset {
    border: none;
    outline: none;
    font-size: 14px;
    padding: 10px;
    text-transform: uppercase;
    background-color: #6700bb;
    color: #ffffff;
    border-radius: 8px;
    margin: 15px;
}
.add:hover,
.reset:hover {
    background-color: #dfdddd;
    color: #6700bb;
}